html, body{
    margin:0;
    padding:0;
}

.btn{
    background: none;
    border: 1px solid #00e0d0;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    color: #00e0d0;
    height: 40px;
    border-radius: 1px;
}

.btn:hover{
    color: white;
    border-color: white;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 32px;
    margin: 40px 0 40px 0;
}

h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 22px;
    margin: 40px 0 40px 0;
    text-transform: uppercase;
}

p{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: lighter;
}

.header{
    height: 670px;
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.97), 
        rgba(49, 29, 94, 0.8)
    ), 
    url(../img/bg-img1.jpg) no-repeat;
    background-position: center;
}

.content-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar-default{
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
}

#navbar1 ul li a{
    color: white;
    font-size: 13px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
}

#navbar1 ul li a:hover{
    color: #00e0d0;
}

.active{
    color: #00e0d0 !important;
}

.navbar-brand img{
    margin-top: -15px;
    margin-right: 10px;
    display: inline-block;
}

.header .container:nth-child(2){
    height: 88.1%; 
    text-align: center;
    color: white;

}

.header .container:nth-child(2) button{
    margin: 20px auto;
}

.about-story{
    height: 400px;
}

.about-story p{
    color: black;
}

.about-story button{
    margin: 20px 0;
}

.about-video{
    height: 550px;
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.97), 
        rgba(49, 29, 94, 0.8)
    ), 
    url(../img/bg-img2.jpg) no-repeat;
    background-position: center;
    text-align: center;
}

.about-video i{
    font-size: 80px;
    color: white;
}

.about-video span{
    display: block;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.expertise .row:nth-child(1){
    padding: 65px 0;
    text-align: center;
}

.expertise .row:nth-child(1) p{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #78767c;
    margin: 10px 0;
    font-weight: normal;
}

.expertise .row:nth-child(2) div[class^="col"]{
    text-align: center;
    padding: 0 40px 0 40px;
    height: 220px;
}

h6{
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin: 20px 0;
    text-transform: uppercase;
}

.team{
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.97), 
        rgba(49, 29, 94, 0.8)
    ), 
    url(../img/bg-img3.jpg) no-repeat;
    background-position: center;
    padding-bottom: 100px;
    padding-top: 30px;
}

.team .row{
    text-align: center;
}

.team h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin: 20px 0;
    text-transform: uppercase;
}

.team h6{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.team h7{
    font-family: 'Roboto', serif;
    font-weight: bold;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px 0; 
}

.team p{
    font-family: 'Roboto', serif;
    font-weight: lighter;
    color: rgb(200, 200, 200);
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px 0 10px 0; 
}

.team img{
    margin: 40px 0 20px 0;
    width: 222px;
    height: 222px;
    background: white;
}

.works h2{
    display: inline-block;
    width: 200px;
    margin: 70px 0;
}

.works p{
    display: inline-block;
    width: 170px;
    float: right;
    margin: 70px 0;
}

.works .works-content{
    height: 400px;
    background: grey;
}

.works .container:nth-child(3){
    text-align: center;
}

.works .btn{
    margin: 70px 0;
}

.works .btn:hover{
    color: black;
    border-color: black
}

.testi{
    height: 500px;
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.97), 
        rgba(49, 29, 94, 0.8)
    ), 
    url(../img/bg-img4.jpg) no-repeat;
    background-position: center;
}

.testi .container{
    padding: 0 200px;
    text-align: center;
}

.contact{
    height: 650px;
}

.contact input{
    width: 100%;
    background: none;
    border: 1px solid rgb(230, 230, 230);
    height: 40px;
    padding: 0 10px;
    color: white;
    margin: 10px 0;
}

.contact textarea{
    width: 100%;
    margin: 10px 0;
    border: 1px solid rgb(230, 230, 230);
    padding:10px;
    height: 200px;
}

.contact .btn:hover{
    color: black;
    border-color: black;
}

.footer{
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.97), 
        rgba(49, 29, 94, 0.8)
    ), 
    url(../img/bg-img5.jpg) no-repeat;
    background-position: center;
    padding: 50px 0;
}

.footer input{
    background: none;
    border: 1px solid grey;
    height: 40px;
    padding: 0 10px;
    color: white;
}

.footer button{
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    height: 40px;
    width: 50px;

}

